# LEKCE 5

# Skládání tučňáků do pivotky

## Načtěte dataset Palmer Penguins
Můžete jej stáhnout z GitHub [repozitáře](https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv).

Použijte knihovnu pandas, metodu `read_csv()` a data uložte do dataframu nazváného data.

#### Dokumentace k datasetu “Penguins”

Tento dataset obsahuje údaje o třech druzích tučňáků, kteří se vyskytují v oblasti Palmerovy stanice na Antarktidě. Dataset je často využíván pro výukové účely a analýzy dat.

Dataset obsahuje měření různých fyzických charakteristik tučňáků ze tří různých ostrovů. Data zahrnují informace o délce zobáku, hloubce zobáku, délce ploutví, hmotnosti těla a dalších proměnných. Měření byla provedena na třech druzích tučňáků: Adélie, Gentoo, a Chinstrap.

**Sloupce datasetu:**

- species – Druh tučňáka (Adélie, Gentoo, Chinstrap)
- island – Ostrov, na kterém byl tučňák pozorován (Biscoe, Dream, Torgersen)
- bill_length_mm – Délka zobáku v milimetrech
- bill_depth_mm – Hloubka zobáku v milimetrech
- flipper_length_mm – Délka ploutve v milimetrech
- body_mass_g – Hmotnost těla tučňáka v gramech
- sex – Pohlaví tučňáka (Male nebo Female)
- year – Rok, kdy bylo měření provedeno

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv"

data = pd.read_csv(url)

### Rozdělení tučňáků podle délky křídel

Použij funkce `cut` pro rozdělení tučňáků do kategorií podle délky křídel:

- `short`: od 0 do 180 mm
- `medium`: od 181 mm až do 200 mm
- `long`: více než 200 mm

In [2]:
bins = [0, 180, 200, float("inf")]
labels = ["short", "medium", "long"]

data["flipper_length_category"] = pd.cut(data["flipper_length_mm"], bins, labels=labels)
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,flipper_length_category
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,medium
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,medium
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,medium
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,medium
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,long
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,long
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,medium
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,long
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,medium

In [3]:
data.groupby("flipper_length_category").size()

/var/folders/5d/znj935k14dz74z15tg6g8b380000gn/T/ipykernel_9525/1839481116.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data.groupby("flipper_length_category").size()

flipper_length_category
short      13
medium    181
long      148
dtype: int64

In [4]:
long_flippers = data[data["flipper_length_category"] == 'long']
long_flippers.shape[0]

148

### Tučňáci na ostrovech

Vytvoř pivot tabulku, která vypočte počty tučňáků na jednotlivých ostrovech.  
Jako popisky řádků použij druh tučňáka (sloupec `species`) a jako popisky sloupců použij název ostrova (sloupec `island`).  
Použij funkci `crosstab`.

In [5]:
penguin_island = pd.crosstab(data['species'], data['island'])
penguin_island

island     Biscoe  Dream  Torgersen
species
Adelie         44     56         52
Chinstrap       0     68          0
Gentoo        124      0          0

### Tučňáci na ostrovech v procentech

Vytvoř pivot tabulku, která vypočte počty tučňáků na jednotlivých ostrovech v procentech. 

Jako popisky řádků použij druh tučňáka (sloupec `species`) a jako popisky sloupců použij název ostrova (sloupec `island`). 

Použij funkci `crosstab`.

In [11]:
penguin_island = pd.crosstab(
    data['species'], data['island'], normalize="index")#.round(2) * 100
penguin_island

island       Biscoe     Dream  Torgersen
species
Adelie     0.289474  0.368421   0.342105
Chinstrap  0.000000  1.000000   0.000000
Gentoo     1.000000  0.000000   0.000000

### Samičky kterého druhu mají v průměru nejkratší hloubku zobáku?

Vytvoř pivot tabulku, která porovnává průměrnou hloubku zobáku (sloupec `bill_depth_mm`) pro jednotlivé druhu tučňáků (sloupec `species`) a pohlaví (sloupec `sex`). 

Použij funkci `pivot_table`. Jako popisky řádků použij druh tučňáka a jako popisek sloupců pohlaví tučňáka. 

Agregační funkci použij `mean`.

In [7]:
bill_species_sex = pd.pivot_table(data, "bill_depth_mm", "species", "sex", "mean")
bill_species_sex

sex           female       male
species
Adelie     17.621918  19.072603
Chinstrap  17.588235  19.252941
Gentoo     14.237931  15.718033